# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.tox/
.mypy_cache/

# Django
*.log
*.sqlite3
media/
static_collected/

# IDEs
.idea/  # Для PyCharm/IntelliJ
.vscode/ # Для VS Code

# Operating System
.DS_Store
Thumbs.db

# Docker
.dockerignore
docker-compose.override.yml